---
http_interactions:
- request:
    method: get
    uri: https://api.opentok.com/v2/partner/123456/archive?count=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tb-Partner-Auth:
      - 123456:1234567890abcdef1234567890abcdef1234567890
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"count\" : 891,\n  \"items\" : [ {\n    \"id\" : \"73337867-2aec-4c68-96fb-b50838600dc5\",\n
        \   \"status\" : \"available\",\n    \"name\" : \"Go-SDK\",\n    \"statusMessage\"
        : \"\",\n    \"sessionId\" : \"1_MX4xMDB-flRodSBBdWcgMjEgMTQ6NTk6MDggUERUIDIwMTR-MC42NjQ4ODYzNn5-\",\n
        \   \"partnerId\" : 100,\n    \"createdAt\" : 1408658353000,\n    \"size\"
        : 61762,\n    \"duration\" : 6,\n    \"mode\" : \"automatic\",\n    \"updatedAt\"
        : 1408658362000,\n    \"url\" : \"http://tokbox.com.archive2.s3.amazonaws.com/100%2F73337867-2aec-4c68-96fb-b50838600dc5%2Farchive.mp4?Expires=1408681572&AWSAccessKeyId=AKIAI6LQCPIXYVWCQV6Q&Signature=FTxYrCPc%2BxrlL0uy2uA2yDUpZhI%3D\"\n
        \ }, {\n    \"id\" : \"eacffef3-af4d-4411-81c8-f913f5f3c906\",\n    \"status\"
        : \"available\",\n    \"name\" : \"Go-SDK\",\n    \"statusMessage\" : \"\",\n
        \   \"sessionId\" : \"2_MX4xMDB-flRodSBBdWcgMjEgMTQ6NTY6MzIgUERUIDIwMTR-MC43NjU3MDY5Nn5-\",\n
        \   \"partnerId\" : 100,\n    \"createdAt\" : 1408658197000,\n    \"size\"
        : 36632,\n    \"duration\" : 4,\n    \"mode\" : \"automatic\",\n    \"updatedAt\"
        : 1408658202000,\n    \"url\" : \"http://tokbox.com.archive2.s3.amazonaws.com/100%2Feacffef3-af4d-4411-81c8-f913f5f3c906%2Farchive.mp4?Expires=1408681572&AWSAccessKeyId=AKIAI6LQCPIXYVWCQV6Q&Signature=nUyQVzOTvd9bwjTS8LkIeuH6WiU%3D\"\n
        \ } ]\n}"
  recorded_at: Fri, 22 Aug 2014 04:16:12 GMT
recorded_with: VCR 2.8.0
