---
http_interactions:
- request:
    method: get
    uri: https://api.opentok.com/v2/partner/123456/archive?count=4&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tb-Partner-Auth:
      - 123456:1234567890abcdef1234567890abcdef1234567890
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"count\" : 891,\n  \"items\" : [ {\n    \"id\" : \"e9562d76-ff57-4d56-922d-6b4d63039c12\",\n
        \   \"status\" : \"available\",\n    \"name\" : null,\n    \"statusMessage\"
        : \"\",\n    \"sessionId\" : \"2_MX4xMDB-flR1ZSBOb3YgMTkgMTE6MDk6NTggUFNUIDIwMTN-MC4zNzQxNzIxNX4\",\n
        \   \"partnerId\" : 100,\n    \"createdAt\" : 1408488641000,\n    \"size\"
        : 1460496,\n    \"duration\" : 6,\n    \"mode\" : \"automatic\",\n    \"updatedAt\"
        : 1408489342000,\n    \"url\" : \"http://tokbox.com.archive2.s3.amazonaws.com/100%2Fe9562d76-ff57-4d56-922d-6b4d63039c12%2Farchive.mp4?Expires=1408681572&AWSAccessKeyId=AKIAI6LQCPIXYVWCQV6Q&Signature=eGUmuTf8l7qoL9XIb4zks3EZ1zQ%3D\"\n
        \ }, {\n    \"id\" : \"85a491ab-b7a2-4ec3-9ae5-348dc707e23c\",\n    \"status\"
        : \"available\",\n    \"name\" : null,\n    \"statusMessage\" : \"\",\n    \"sessionId\"
        : \"2_MX4xMDB-flR1ZSBOb3YgMTkgMTE6MDk6NTggUFNUIDIwMTN-MC4zNzQxNzIxNX4\",\n
        \   \"partnerId\" : 1[...]
