---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/partner/123456/archive
    body:
      encoding: UTF-8
      string: ! '{"sessionId":"SESSIONID","action":"start","name":""}'
    headers:
      X-Tb-Partner-Auth:
      - 123456:1234567890abcdef1234567890abcdef1234567890
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{ "message" : "Not found. No clients are actively connected to the
        OpenTok session." }'
  recorded_at: Fri, 22 Aug 2014 04:16:11 GMT
recorded_with: VCR 2.8.0
